.vscode/
.idea/
build/
__pycache__
venv/

docs/_*
docs/conf.py
docs/index.rst
docs/make.bat
docs/Makefile
docs/torrent.rst
build/*
source/*
make.bat
Makefile
*.rst
test/file/Taylor.Swift.-.The.Cruelest.Summer.(2023).Mp3.320kbps.\[PMEDIA\].torrent
test/file/How.to.Read.People.Like.a.Book.by.James.W..Williams.EPUB.torrent
